@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

.navbar {
    height: 110px !important
}

.nav-item {
    margin-left: 32px !important
}

.nav-link {
    font-family: 'Crimson Text', serif;
    font-size: large;
}