@import url('https://fonts.googleapis.com/css?family=Rosario&display=swap');

/* changing entire navbar background colour */
.navbar {
    background-color: #ff7f69  !important;
}

/* changing link colours */
.nav-link {
    font-family: 'Rosario', sans-serif;
    font-size: large;
    color: xxxx !important;
}

/* changing link colours on hover */
.nav-link:hover {
    color: xxxx !important;
}

.nav-link::before {
    transition: 300ms;
    content: "";
    position: absolute;
}

.nav-link-ltr::before {
    width: 0%;
    margin-top: 10px;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.nav-item {
    margin-left: 32px !important
}

.nav-link {
    text-decoration: none;
    position: relative;
    margin-top: 20px;

}

.nav-link::before {
    transition: 300ms;
    height: 2.5px;
    content: "";
    position: absolute;
    background-color: #000000;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 5px;
}

.nav-link-ltr:hover::before {
    width: 80%;
}
